{% load static %}
{% load bootstrap5 %}

 <!--  <div class="media">
        <a href="detail.html"><img class="img-thumbnail d-flex mr-2" src="{% static 'proj/images/product/polo1-small.jpg' %}" alt="product" width="50"></a>
        <div class="media-body">
            <div><a href="detail.html" class="mt-0 text-default">U.S. Polo Assn. Green Solid Slim Fit</a></div>
            <small>x1</small> <span class="price font-weight-normal">$13.50</span> <a href="#" class="float-right" data-toggle="tooltip" title="Remove"><span class="badge badge-light"><i class="fa fa-remove"></i></span></a>
        </div>
    </div>
    <div class="media">
        <a href="detail.html"><img class="img-thumbnail d-flex mr-2" src="{% static 'proj/images/product/polo2-small.jpg' %}" alt="product" width="50"></a>
        <div class="media-body">
            <div><a href="detail.html" class="mt-0 text-default">U.S. Polo Assn. Red Solid Slim Fit</a></div>
            <small>x1</small> <span class="price font-weight-normal">$13.50</span> <a href="#" class="float-right" data-toggle="tooltip" title="Remove"><span class="badge badge-light"><i class="fa fa-remove"></i></span></a>
        </div>
    </div>
    <div class="media">
        <a href="detail.html"><img class="img-thumbnail d-flex mr-2" src="{% static 'proj/images/product/polo3-small.jpg' %}" alt="product" width="50"></a>
        <div class="media-body">
            <div><a href="detail.html" class="mt-0 text-default">U.S. Polo Assn. Yellow Solid</a></div>
            <small>x1</small> <span class="price font-weight-normal">$13.50</span> <a href="#" class="float-right" data-toggle="tooltip" title="Remove"><span class="badge badge-light"><i class="fa fa-remove"></i></span></a>
        </div>
    </div>
    <div class="media">
        <a href="detail.html"><img class="img-thumbnail d-flex mr-2" src="{% static 'proj/images/product/polo4-small.jpg' %}" alt="product" width="50"></a>
        <div class="media-body">
            <div><a href="detail.html" class="mt-0 text-default">Red Tape Blue Solid Slim Fit</a></div>
            <small>x1</small> <span class="price font-weight-normal">$13.50</span> <a href="#" class="float-right" data-toggle="tooltip" title="Remove"><span class="badge badge-light"><i class="fa fa-remove"></i></span></a>
        </div>
    </div>
    <div class="dropdown-divider"></div>
    Subtotal: <span class="price">$54.00</span>
    <div class="dropdown-divider"></div>
    <div class="text-center">
        <div class="btn-group btn-group-sm" role="group" aria-label="View Cart and Checkout Button">
            <a href="#" role="button" class="btn btn-outline-theme"><i class="fa fa-shopping-cart"></i> View Cart</a>
            <a href="#" role="button" class="btn btn-outline-theme"><i class="fa fa-check"></i> Checkout</a>
        </div>
    </div> -->