{% load static %}
{% load bootstrap5 %}
{% load fontawesome_5 %}


<div class="col-12"><div class="title text-center"><span>Our Clients</span></div></div>
<div class="col">
    <div class="owl-carousel owl-theme brand-slider">
        <div class="card">
            <div class="card-body py-2 px-0">
                <a href="{% url 'tags:home' %}"><img class="card-img-top" src="{% static 'proj/images/brand/brand1.png' %}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body py-2 px-0">
                <a href="{% url 'tags:home' %}"><img class="card-img-top" src="{% static 'proj/images/brand/brand2.png' %}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body py-2 px-0">
                <a href="{% url 'tags:home' %}"><img class="card-img-top" src="{% static 'proj/images/brand/brand3.png' %}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body py-2 px-0">
                <a href="{% url 'tags:home' %}"><img class="card-img-top" src="{% static 'proj/images/brand/brand4.png' %}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body py-2 px-0">
                <a href="{% url 'tags:home' %}"><img class="card-img-top" src="{% static 'proj/images/brand/brand5.png' %}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body py-2 px-0">
                <a href="{% url 'tags:home' %}"><img class="card-img-top" src="{% static 'proj/images/brand/brand1.png' %}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body py-2 px-0">
                <a href="{% url 'tags:home' %}"><img class="card-img-top" src="{% static 'proj/images/brand/brand2.png' %}" alt="Card image cap"></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body py-2 px-0">
                <a href="{% url 'tags:home' %}"><img class="card-img-top" src="{% static 'proj/images/brand/brand3.png' %}" alt="Card image cap"></a>
            </div>
        </div>
    </div>
</div>