{# extends "registration/registration_base.html" #}
{% extends 'base.html' %}

{% load bootstrap4 %}
{% load icons %}

{% load i18n %}
{% load l10n %}
{% load tz %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <span class="text-center">{% bootstrap_messages %}</span>
        </div>  
    </div>

    <div class="row">
        <div class="col-sm-6 offset-3">
            <h3>User Login</h3>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {{ form|crispy }}

                {% block buttons %}
                <button type="submit" class="btn btn-info btn-block">
                  {% icon "user" %} Login
                </button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% endblock buttons %}
                <p class="text-muted ml-2">
                    {% trans "Forgot your password?" %}
                    <a href="{% url 'accounts:password_reset' %}">{% trans "Reset Password" %}</a>
                </p>
            </form>

            <p>{% trans "Not a member?" %} <a href="{% url 'accounts:register' %}">{% trans "Register" %}</a>.</p>
        </div>
    </div>
</div>
{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
