{# extends "registration/registration_base.html" #}
{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load fontawesome_5 %}
{% load icons %}
{% icon 'edit' %}

{% load i18n %}
{% load l10n %}
{% load tz %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <span class="text-center">{% bootstrap_messages %}</span>
        </div>  
    </div>

    <div class="row">
        <div class="col-sm-6 offset-3">
            <h3>Change Dilshad Password</h3>
            <form action="{% url 'accounts:password_change_done' %}" method="POST" class="form-group">
			    {% csrf_token %}
			    {{ form|crispy }}
                
                <buuton type="submit" class="btn btn-theme btn-md btn-block my-3">
                    <i class="fa fa-key" aria-hidden="true"></i>Change Password
                </buuton>
               
			</form>
		</div>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
