{# extends "registration/registration_base.html" #}
{% extends 'base.html' %}

{% load bootstrap4 %}
{% load icons %}

{% load i18n %}
{% load l10n %}
{% load tz %}

{% block title %}{% trans "Password reset done" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
        	<br>
			<big class="text-justify text-large">
				<br>
			    {% blocktrans %}
			    <p class="alert alert-info text-justify">
			    	We have sent you an email with a link to reset your password. Please check
			    	your email and click the link to continue.
			    </p>

			    {% endblocktrans %}
			    <a href="{% url 'accounts:login' %}" title="Login" class="text-md-center">Return to Login</a>
			</big>
			<br>
		</div>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
